* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

body {
	background-color: black;
	overflow-x: hidden;
	position: relative;
	min-height: 100vh;
}

html {
	overflow-x: hidden;
}

nav {
	height: 65px;
	background-color: transparent;
	line-height: 65px;
	position: fixed;
	width: 100%;
	z-index: 1;
	top: 0;
}

ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

ul.secondNav {
	height: 1.9em;
	background-color: rgba(32, 54, 27, 0.8);
}

li#navfeatures,
li#navmaterials,
li#navcertifications {
	font-size: 2rem;
}

.nav-down {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 250px;
}

li.nav-item {
	list-style-type: none;
}

nav li a {
	padding: 0 35px;
}

a.link {
	position: relative;
	text-decoration: none;
	color: #e3e2d8;
    font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 1.2rem;
}

.link:hover {
	cursor: none;
}

.link,
.link::after,
.link::before {
	transition: 0.3s;
}

.style::before,
.style::after {
	content: '';
	position: absolute;
	width: 0;
	bottom: 0;
	border-bottom: 1px solid #e3e2d8;
}

.style::before {
	right: 50%;
}

.style::after {
	left: 50%;
}

.style:hover::before,
.style:hover::after {
	width: 50%;
}

.footer {
	height: 85px;
	background-color: rgb(8, 19, 4);
	line-height: 90px;
	color: #e3e2d8;
	text-align: center;
	margin-top: 0;
}

.main-image {
	position: relative;
	background-image: url(./img/green-4183977_1920.jpg);
	height: 100vh;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;
}

.main-shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -10;
}

.main-text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
	z-index: 10;
}

.first {
	font-size: 2rem;
	color: #e3e2d8;
	animation: fade 9s;
}

.second {
	font-size: 2rem;
	color: #e3e2d8;
	animation: fade 11s;
}

.info {
	height: 100vh;
	background-image: url(./img/trees-large-shade.png);
	position: relative;
	animation: fade 2s;
}

.back {
	font-family: 'Monserrat', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	margin-left: 50%;
	color: white;
	padding-top: 10px;
	font-size: 1.2rem;
	animation: fade 2s;
}

.back:hover {
	font-weight: 400;
}







p.info {
	height: 70%;
	min-width: 200px;
	display: block;
	font-size: 1.6rem;
	text-align: center;
	color: hsl(24, 78%, 39%);
}



.text-over-trees {
	position: absolute;
	background-color: transparent;
	font-size: 1.8rem;
	padding: 200px 300px 0px 300px;
	color: #e3e2d8;
	animation: fade 10s;
	line-height: 1.6em;
	margin: 0.5em auto 0;
}

.fa-chevron-down {
	font-size: 50px;
	color: #e3e2d8;
}

.facts {
	color: #e3e2d8;
	font-size: 40px;
}

h1 {
	font-size: 40px;
	color: #e3e2d8;
}

.intro {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 90px 0px 45px 0px;
	background-color: transparent;
	background-image: url(./img/bridge-large.jpg);
	background-size: 100%;
	background-attachment: fixed;
}

.content {
	background-color: #e3e2d8;
	height: auto;
	position: relative;
	width: 80%;
	margin: 0 auto;
	z-index: 0;
}

.nav-items-second {
	color: #e3e2d8;
	font-size: 1.4rem;
	background-color: black;
}

.second-page {
	background-image: url(./img/bridge-large.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;
}

.main-second {
	background-image: url(./img/mountains-large.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;
}

.hide {
	display: none;
	transition: 1s;
}
.show {
	z-index: 10;
}

.hide-text {
	opacity: 0;
}

.backcolor {
	background-color: rgba(8, 19, 4, 0.6);
}

.nav-items-second {
	background-color: rgba(8, 19, 4, 0.6);
}

.nav-items-second li {
	font-size: 20px;
	list-style: none;
}

.certifications-text,
.materials-text {
	opacity: 0;
}

.certifications-text,
.features-text,
.materials-text {
	background-color: #e3e2d8;
	position: absolute;
	height: auto;
	width: 100%;
}

p.whatis {
	display: block;
	font-size: 1.4rem;
	line-height: 1.8em;
	text-justify:distribute;
	padding: 1em 3em 1em 3em;
}

h3.whatis {
	font-size: 1.8rem;
	text-align: center;
	text-decoration: overline;
	text-decoration: underline;
	margin-top: 10px;
}




li#navmaterials:hover,
li#navcertifications:hover,
li#navfeatures:hover {
	color: hsl(24, 78%, 39%);
	cursor: pointer;
	font-weight: 200;
}

/* page - inspiring projects  */

#inspo {
	padding-top: 120px;
	display: flex;
	flex-wrap: wrap;
	max-width: 1600px;
	width: 100%;
	background-color: rgb(0, 1, 4);
}

.inspiringNav {
	height: 50px;
	background-color: black;
	margin-bottom: 50px;
}

.card {
	position: relative;
	margin: 40px 40px;
	width: 600px;
	height: 700px;
	perspective: 300px;
}

.img {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	border-radius: 15px;
	transition: 0.8s;
}

.one {
	background-image: url('https://res.klook.com/image/upload/v1616664238/hotel/sdmxcnk9pjm7rrrzugbc.jpg');
}

.two {
	background-image: url('https://ecoedition.net/wp-content/uploads/2020/11/Eco-Edition_Nina-Co_Silo-Restaurant_Architecture-sustainability-6-min.jpg');

}
.three { 
	background-image: url('https://ecoedition.net/wp-content/uploads/2021/03/Eco-Edition_In-Pretty-Good-Shape_Moar-Gut-Childcare_Sustainable-architecture-interiors-2.jpg');

}

.four {
	background-image: url('https://i.pinimg.com/originals/6f/39/1c/6f391ca6faf1d004ae30e10fcaffca42.jpg');

}

p.inspiring-projects {
	line-height: 1.4rem;
	font-size: 1.2rem;
	

}

.text {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 30px;
	border-radius: 0px;
	text-align: center;
	background-image: linear-gradient(to right, #ece9e6, #ffffff);
	opacity: 0;
	transition: 0.5s;
	text-align: right;
}

h3.inspiring-gallery {
	margin-top: 100px;
	margin-bottom: 20px;
	font-family:'Monserrat',sans-serif;
	text-transform: uppercase;
	font-size: 1.6rem;
	text-align: end;
}

.card:hover .text {
	transform: rotate(0);
	opacity: 1;
}

.card:hover .shuffle {
	animation: up 0.8s;
}

.card:hover .text-shuffle {
	animation: down 0.8s;
}






/* styling for ideas for every room */






.container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding:1rem;
	
}
img.room {
	max-width: 100%;
	min-width: 40vw;
	
}
.image-room {
	flex-basis: 40%;

}
.text-room {
	font-size: 20px;
	padding-left: 20px;
	width: 40%;
}

ul.room {
	display: block;
	padding-left: 1em;
	list-style-type: square;
	line-height: 2rem;

}

h3.room {
	font-family: 'Monserrat', sans-serif;
	text-transform: uppercase;
	
}

/* styles for materials  */

.image {
	position: relative;
	width: 95%;
	margin: auto;
	height: 100px;
}

.materials-text {
	padding: 10px;
	margin-bottom: 10px;
}

.image__img {
	display: block;
	width: 100%;
	height: 100%;
}

.wool {
	background-image: url(https://i.pinimg.com/564x/d0/43/ce/d043ce2d519dfbb48c578a6a89a7a1f6.jpg);
}

.bamboo {
	background-image: url(https://images.squarespace-cdn.com/content/v1/547a3834e4b053a861c4874e/e732c03d-e206-4dd8-8cad-c52bb6bc22b6/Sustainably+Chic+%7C+Sustainable+Fashion+Blog+%7C+Are+Bamboo+Clothing+%26+Products+Sustainable%3F.jpg?format=1500w);
}

.hemp {
	background-image: url(https://pharmacie-kerangal.com/preparatoire/wp-content/uploads/sites/3/2020/09/closeup-feuille-marijuana-cannabis_1150-15082.jpg);
	background-size: cover;
}

.cork {
	background-image: url(https://i.pinimg.com/564x/b7/47/5c/b7475c5c3cbd2645c997fbbacd985091.jpg);
}

.image__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.5s;
	z-index: 9;
}

.image__overlay:hover {
	opacity: 1;
}

.image__description {
	font-size: 1.25em;
	margin-top: 0.4em;
}

/* styling for quiz  */

.app {
	background-color: rgba(32, 54, 27, 0.8);
	max-width: 600px;
	margin: 50px auto 60px;
	border-radius: 10px solid;
	padding: 30px;
	border: 1px solid  #e3e2d8;
}

.quizcontent {
	height: auto;
	width: 600px;
	background-color: #e3e2d8;

}

.main {
	height: 72vh;
}

.quiz {
	padding: 20px 0;
	
}

.quiz h2 {
	font-size: 1.3rem;
	color: #e3e2d8;
}

h3.quiz {
	font-size: 1.5rem;
	text-align: center;
	color: #e3e2d8;
	
}

.btn {
	background: white;
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	transition: all 0.3s;
	cursor: pointer;
	font-size: 1.2rem;
	border: 1px white solid;
	
}

.btn:hover:not([disabled]) {
	background-color: rgba(177, 121, 71,0.3);
}



.btn:disabled {
	cursor: no-drop;
	
	
}

#next-btn {
	background-color: #e3e2d8;
	border: 0px;
	cursor: pointer;
	padding: 1em;
	margin: 1em auto 0;
	display: none;
	text-transform: uppercase;
	border: 2px solid white;
	border-radius: 24%;
	font-size: 1.2rem;
}



#next-btn:hover {
	background-color: hsl(24, 78%, 39%);
}

.correct {
	background-color: rgba(52, 90, 59);
	font-weight: 400;
}

.incorrect {
	background-color: tomato;
	font-weight: 400;
	
}

/* styling for hamburger menu */

.hamburger {
	padding: 10px;
	display: none;
	margin: 5px;
}

div.line {
	height: 3px;
	width: 30px;
	margin: 6px;
	background-color: #e3e2d8;
}

.sideNav {
	width: 100%;
	height: 320px;
	background-color: rgba(12, 13, 14,1);
	display: flex;
	flex-direction: column;
	display: none;
	margin-top: 60px;
	flex-wrap: wrap;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 1.8rem;
	
}

.sideNav a {
	padding: 1px;
}




/* exstra margin for pages other than index.html  */

.expad {
	padding-top: 60px;
}

.sideNav a {
	text-decoration: none;
	color: #e3e2d8;
}

.sideNav a:hover {
	text-decoration: none;
	font-weight: 500;
	color: hsl(24, 78%, 39%);
}

.sideNav li {
	list-style: none;
}
.show-nav {
	display: block;
}

@media (max-width: 850px) {
	.hamburger {
		display: block;
		cursor: pointer;
	}

	.nav-bar {
		display: none;
	}
	.sideNav {
		position: fixed;
		top:0;
		left:0;
		z-index: 1;
		
	}

	p.first {
		font-size: 1.4rem;
	}

	p.second {
		font-size: 1.rem;
	}

	.navigation {
		display: none;
	}

	ul.mainnav {
		display: none;
	}
	h1.intro {
		font-size: 2rem;
	}
	.nav-ideas {
		display: none;
	}

	.main-text,
	.main-image {
		width: 100%;
	}

	.facts {
		font-size: 1.2rem;
		background-color: #e3e2d8;
		color: rgb(8, 19, 4);
		padding:20px;
		margin:10px;
		width: auto;
		min-width: 300px;
	}

	.didyou {
		margin-top: 10px;
	}

	.back {
		color:black;
	}


}

@media (max-width: 850px) {
	.container {
		margin-top: 80px;
	}

	.card {
		position: relative;
		margin: 40px 60px;
		width: 400px;
		height: 200px;
		perspective: 100px;
	}

	.img {
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		border-radius: 5px;
		transition: 0.8s;
	}
}

@media (min-width: 800px) {
	.sideNav {
		display: none;
	}
}



@media (max-width:1000px) {
	h1 {
		font-size:1.6rem;
		font-weight:300;
	}

	li#navcertifications,li#navfeatures,li#navmaterials {
		font-size: 1.2rem;
		line-height:30px;
	}
}



@keyframes up {
	0% {
		transform: translateY(0);
		opacity: 1;
	}

	50% {
		transform: translateY(-60%);
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes down {
	0% {
		transform: translateY(0);
		z-index: -1;
	}

	50% {
		transform: translateY(60%);
		z-index: -1;
	}

	100% {
		z-index: 1;
	}
}

@keyframes fade {
	from {
		color: transparent;
	}

	to {
		color: #e3e2d8;
	}
}
